# Become a movie director

Let's use BeautifulSoup to get some information about the top-250 rated movies on <a href="http://www.imdb.com/" target="_blank">IMDB</a>.

To complete this exercise, feel free to look at <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/" target="_blank">BeautifulSoup documentation</a>.

1. Import `Beautifulsoup` and `requests` libraries:

In [ ]:
!pip install beautifulsoup4
!pip install lxml
!pip install html5lib

2. With `requests`, get the source code of the webpage at this url: <a href="http://www.imdb.com/chart/top" target="_blank">http://www.imdb.com/chart/top</a>

In [103]:
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")

3. Use Beautifulsoup to extract the following items from the webpage HTML code, for each of the 250 movies: ranking, title, url, crew, rating and number of voters.

Use the `.select` method to find tags you need on the website, then store those tags into lists.

Finally, create a list named `imdb` in which each item is a dictionary containing the information related to one movie.

**Hint**: You can check out the <a href="https://docs.python.org/3/library/string.html" target="_blank">string documentation</a>, in particular the `.split`, `.join` and `.replace` methods.

In [92]:
# crew
crew = [elem.attrs.get('title') for elem in soup.select('td.titleColumn a ')]

In [99]:
#titre des films
titles = [elem.get_text() for elem in soup.select('td.titleColumn a ')]

In [ ]:
#ratings
ratings = [elem.attrs.get('data-value') for elem in soup.select('td.posterColumn span[name=ir]')]

In [102]:
import pandas as pd
data = {'titles': titles, 'ratings': ratings, 'crew' : crew}
pd.DataFrame.from_dict(data)

                       titles  ...                                               crew
0    The Shawshank Redemption  ...  Frank Darabont (dir.), Tim Robbins, Morgan Fre...
1               The Godfather  ...  Francis Ford Coppola (dir.), Marlon Brando, Al...
2      The Godfather: Part II  ...  Francis Ford Coppola (dir.), Al Pacino, Robert...
3             The Dark Knight  ...  Christopher Nolan (dir.), Christian Bale, Heat...
4                12 Angry Men  ...      Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
..                        ...  ...                                                ...
245       Fanny and Alexander  ...  Ingmar Bergman (dir.), Bertil Guve, Pernilla A...
246                      Soul  ...           Pete Docter (dir.), Jamie Foxx, Tina Fey
247                  Drishyam  ...              Jeethu Joseph (dir.), Mohanlal, Meena
248                   Tumbbad  ...   Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe
249                   Sunrise  ...   F.W. Murnau (dir.), George O'Brien, Janet Gaynor

[250 rows x 3 columns]